<?xml version="1.0"?>
<config>
    <modules>
        <TD_CoolDiscount>
            <version>0.1.0</version>
        </TD_CoolDiscount>
    </modules>
    <global>
        <models>
            <td_cooldiscount>
                <class>TD_CoolDiscount_Model</class>
                <resourceModel>td_cooldiscount_resource</resourceModel>
            </td_cooldiscount>
            <td_cooldiscount_resource>
                <class>TD_CoolDiscount_Model_Mysql4</class>
                <entities>
                    <discount>
                        <table>td_cooldiscount</table>
                    </discount>
                    <accumulative>
                        <table>td_cooldiscount_accumulative</table>
                    </accumulative>
                </entities>
            </td_cooldiscount_resource>
        </models>
        <blocks>
            <td_cooldiscount>
                <class>TD_CoolDiscount_Block</class>
            </td_cooldiscount>
        </blocks>
        <helpers>
            <td_cooldiscount>
                <class>TD_CoolDiscount_Helper</class>
            </td_cooldiscount>
        </helpers>
        <resources>
            <td_cooldiscount_setup>
                <setup>
                    <module>TD_CoolDiscount</module>
                </setup>
            </td_cooldiscount_setup>
        </resources>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <td_cooldiscount>
                        <type>model</type>
                        <class>td_cooldiscount/observer</class>
                        <method>saveDiscount</method>
                    </td_cooldiscount>
                </observers>
            </adminhtml_customer_save_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <setdiscount>
                        <type>model</type>
                        <class>td_cooldiscount/observer</class>
                        <method>setDiscount</method>
                    </setdiscount>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_save_after>
                <observers>
                    <accumulative>
                        <type>model</type>
                        <class>td_cooldiscount/observer</class>
                        <method>accumulative</method>
                    </accumulative>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <td_cooldiscount>
                    <file>td_cooldiscount.xml</file>
                </td_cooldiscount>
            </updates>
        </layout>
    </adminhtml>
</config>